# Python virtual environments
venv/
.venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VSCode settings (optional)
.vscode/

# MacOS system files (optional)
.DS_Store

# Test coverage and profiling
htmlcov/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# Environment variable files
*.env
